
* {
    font-family: 'Open Sans', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: rgb(40, 40, 40);
    color: rgb(245, 241, 222);
}

a {
    color: rgb(180, 255, 180);
    text-decoration: none;
}

.cover-heading {
    color: salmon;
}

.page-content, .masthead {
    visibility: hidden;
}