:root {
  --main-color: #7CFFFC;
  --accent-color: #FFBA8C;
  --background-color: rgb(240, 234, 154);
  --text-color: black;
}

* {
  font-family: 'Open Sans', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: rgb(180, 255, 180);
  text-decoration: none;
}

.cover-heading {
  color: salmon;
}

.page-content, .masthead {
  visibility: hidden;
}

#profile-pic {
  filter: drop-shadow(10px 15px 0px var(--accent-color));
}

.nav-masthead .active {
  color: var(--text-color);
  border-bottom-color: var(--text-color);
}

.nav-masthead .nav-link {
  color: var(--text-color);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: var(--text-color);
}
